@{

    Layout = "~/Views/Layout/Layout.cshtml";
    ViewData["Title"] = "Blog article | Lager - eCommerce HTML Template";
}



    <div class="page-loader"></div>

    <div class="wrapper">

        <div class="inc:_header.html"></div>

        <!-- ========================  Main header ======================== -->

        <section class="main-header main-header-blog" style="background-image:url(assets/images/gallery-1.jpg)">
            <header>
                <div class="container text-center">
                    <h2 class="h2 title">Blog</h2>
                    <ol class="breadcrumb breadcrumb-inverted">
                        <li><a href="index.html"><span class="icon icon-home"></span></a></li>
                        <li><a href="blog-grid.html">Blog Category</a></li>
                        <li><a class="active" href="article.html">In Virtual Reality, How Much Body Do You Need?</a></li>
                    </ol>
                </div>
            </header>
        </section>

        <!-- ========================  Blog article ======================== -->

        <section class="blog">

            <!-- === blog navigation === -->

            <div class="blog-navigation">
                <!-- === nav previous === -->

                <a class="nav-link prev" href="#">
                    <figure>
                        <div class="image">
                        <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/blog-2.jpg" alt="Alternate Text">
                        </div>
                        <figcaption>
                            <div class="blog-title h6">Turn off the lights before bed with one word</div>
                        </figcaption>
                    </figure>
                </a>

                <!-- === nav next === -->

                <a class="nav-link next" href="#">
                    <figure>
                        <div class="image">
                        <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/blog-3.jpg" alt="Alternate Text">
                        </div>
                        <figcaption>
                            <div class="blog-title h6">Automatically lock the front door when you head to work</div>
                        </figcaption>
                    </figure>
                </a>
            </div> <!--/blog-navigation-->
            <!-- ========================  Blog post ======================== -->

            <div class="container">

                <div class="row">

                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                        <div class="blog-post">

                            <!-- === blog main image & entry info === -->

                            <div class="blog-image-main">
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/blog-1.jpg" alt="" />
                            </div>

                            <div class="blog-post-content">

                                <!-- === blog post title === -->

                            <div class="blog-post-title">
                                <h1 class="blog-title">
                                    Sanal Gerçeklikte Ne Kadar Beden Gerekli?
                                </h1>
                                <h2 class="blog-subtitle h5">
                                    Japonya'daki araştırmacılar, bir Oculus Rift kulaklığı takan denekleri kaydettikten sonra yalnızca bir çift el ve ayak gerekebileceğini buldu.
                                </h2>

                                <div class="blog-info blog-info-top">
                                    <div class="entry">
                                        <i class="fa fa-user"></i>
                                        <span>John Doe</span>
                                    </div>
                                    <div class="entry">
                                        <i class="fa fa-calendar"></i>
                                        <span>03.03.2017</span>
                                    </div>
                                    <div class="entry">
                                        <i class="fa fa-comments"></i>
                                        <span>4 yorum</span>
                                    </div>
                                </div> <!--/blog-info-->
                            </div>


                                <!-- === blog post text === -->

                            <div class="blog-post-text">

                                <h4>Vücudunuz ve bilinciniz ne kadar bağlantılı?</h4>
                                <p>
                                    Japonya'daki Toyohashi Teknoloji Üniversitesi'nde mühendislik profesörü olan Michiteru Kitazaki, yakın zamanda bu soruyu bir e-postada sorduğunda, Japon kültüründen gelen bedensiz ruh anlamına gelen "tamashii" kavramını akla getirdi.
                                </p>
                                <p><img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/blog-3.jpg" alt="Bu alternatif bir görüntü açıklamasıdır. Otomatik başlık oluşturulacak." /></p>
                                <p>
                                    Acaba, sanal ya da artırılmış gerçeklik kullanarak hiçbir fiziksel forma bağlı olmayan bir ruh hissini simüle etmek yakında mümkün olacak mı, diye merak etti.
                                </p>
                                <p>
                                    Eğer öyleyse, özellikle çalışma ya da eğlence için dijital ortamlarda kendilerini bulan insanların sayısının giderek artmasıyla, kendimizi bir benlik hissiyle tanımlayabilmemiz için ne kadar az bedene ihtiyacımız olduğunu anlamak iyi bir başlangıç olur. Dr. Kitazaki ve doktora öğrencisi Ryota Kondo, bunun sadece bir çift el ve ayak kadar az olabileceğini belirtiyor.
                                </p>
                                <p><img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/blog-4.jpg" alt="Bu alternatif bir görüntü açıklamasıdır. Otomatik başlık oluşturulacak." /></p>
                                <p>
                                    Salı günü Scientific Reports'ta yayımlanan bir makalede, yalnızca sanal elleri ve ayakları hareket ettirmenin, insanların beden algısını görünmez bir avatara kaydırmak için yeterli olduğunu gösterdiler.
                                </p>
                                <h4>Sanal gerçeklik</h4>
                                <p>
                                    İlk bedene sahiplik numarası "kauçuk el illüzyonu" idi. 1990'larda, araştırmacılar bir kişinin gerçek elini bir bölmenin arkasına gizleyip, yanında bir kauçuk el yerleştirip ve gerçek ve sahte eli senkronize bir şekilde dokunduklarında ve okşadıklarında, deneğin kısa süre içinde kauçuk elde bir his algılamaya başladığını keşfettiler.
                                </p>
                                <p>
                                    Bugün, sanal gerçeklik üzerinde çalışan teknolojistler, kullanıcıların kendi bedenlerine uymayan dijital bedenlere nasıl uyum sağlayacağını anlamak için kauçuk el illüzyonunun modern versiyonlarını kullanıyor. Bazı araştırmacılar, kullanıcıların dijital olarak diğer ırklara, cinsiyetlere, yaşlara veya yeteneklere sahip bedenlerle yer değiştirmelerinin örtük önyargıyı azaltabileceğini öne sürmüş olsa da, bu çalışmanın sınırları var.
                                </p>
                                <p>
                                    Dr. Kitazaki’nin ekibi, Oculus Rift sanal gerçeklik başlığı ve bir hareket sensörü kullanarak bir dizi deney gerçekleştirdi. Bu deneylerde gönüllüler, iki metre önlerinde sanal bir odada, bedensiz ellerin ve ayakların hareket ettiğini izlediler. Bir deneyde, eller ve ayaklar katılımcıların kendi hareketlerini yansıttığında, insanlar uzuvların arasındaki alanı kendi bedenleri gibi hissettiklerini bildirdiler.
                                </p>
                                <p>
                                    Bu, senkronize eylemlerin gücünü ve beynimizin eksik bilgiyi doldurma yeteneğini gösteriyor, dedi bu yeni çalışmaya katılmayan ve kauçuk el illüzyonunun öncüsü olan San Diego California Üniversitesi'nden profesör V.S. Ramachandran. Senkronize hareketlerin şans eseri olma ihtimalinin düşüklüğü, diğer tüm bilgilerin önüne geçiyor, dedi, görünmez bir bedenin size ait olamayacağını bilmek de dahil.
                                </p>
                            </div>


                                <!-- === blog info === -->

                            <div class="blog-info blog-info-bottom">
                                <ul>
                                    <li class="divider"></li>
                                    <li>
                                        <i class="fa fa-folder-open"></i>
                                        <span>
                                            <a href="%24.html">Teknoloji</a>,
                                            <a href="%24.html">İllüzyon</a>,
                                            <a href="%24.html">Araştırmacılar</a>,
                                            <a href="%24.html">Bilimsel</a>
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fa fa-tag"></i>
                                        <span>
                                            <a href="#">Kültür</a>,
                                            <a href="#">Teknoloji</a>,
                                            <a href="#">Bilim Kurgu</a>,
                                            <a href="#">Modern yaşam</a>
                                        </span>
                                    </li>
                                </ul>
                            </div> <!--/blog-info-->

                            </div>

                            <!-- === blog comments === -->

                        <div class="comments">

                            <!-- === yorum başlığı === -->

                            <div class="comment-header">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>

                            <div class="comment-wrapper">

                                <!-- === yorum === -->

                                <div class="comment-block">
                                    <div class="comment-user">
                                        <div><img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/user-2.jpg" alt="Alternatif Metin" width="70" /></div>
                                        <div>
                                            <h5>
                                                John Doe
                                                <a href="#" class="btn btn-sm btn-main pull-right"><i class="fa fa-reply"></i> Cevapla</a>
                                                <small>03.05.2017</small>
                                            </h5>
                                        </div>
                                    </div>

                                    <!-- yorum açıklaması -->

                                    <div class="comment-desc">
                                        <p>
                                            Şu anda yapılacak bir düzenleme var. Yapılacak işler hakkında bilgi verecektir. Yapılacaklar, ne zaman yapılacağına dair bir plan yapmanızı sağlar. Projeye bir süre ara verildiğinde, tüm bilgileri içeren belgeyi kontrol etmek faydalı olacaktır.
                                        </p>
                                    </div>

                                    <!-- yorum cevabı -->

                                    <div class="comment-block">
                                        <div class="comment-user">
                                            <div><img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/user-2.jpg" alt="Alternatif Metin" width="70" /></div>
                                            <div>
                                                <h5>
                                                    John Doe
                                                    <a href="#" class="btn btn-sm btn-main pull-right"><i class="fa fa-reply"></i> Cevapla</a>
                                                    <small>08.05.2017</small>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="comment-desc">
                                            <p>
                                                Gerçekten gerekli olan tüm düzenlemeleri yapın. İşlerin her şeyin yolunda olduğunu belirlemek için bir plan hazırlamanız gerekebilir. Projenin başarılı bir şekilde tamamlanması için, sürecin tüm detaylarını gözden geçirmeniz önerilir.
                                            </p>
                                        </div>
                                    </div>
                                    <!--/cevap-->
                                </div>

                                <!-- === yorum === -->

                                <div class="comment-block">
                                    <div class="comment-user">
                                        <div><img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/user-2.jpg" alt="Alternatif Metin" width="70" /></div>
                                        <div>
                                            <h5>
                                                John Doe
                                                <a href="#" class="btn btn-sm btn-main pull-right"><i class="fa fa-reply"></i> Cevapla</a>
                                                <small>21.03.2017</small>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="comment-desc">
                                        <p>
                                            Gerçekten yapılması gerekenler hakkında bilgi verecektir. Bir proje üzerinde çalışırken, detayları ve planlamaları göz önünde bulundurmak çok önemlidir. Her şeyin yolunda olduğundan emin olmak için, belirli aralıklarla kontrol edilmelidir.
                                        </p>
                                    </div>
                                </div>
                            </div><!--/comment-wrapper-->

                            <div class="comment-header">
                                <a href="#" class="btn btn-clean-dark">12 yorum</a>
                            </div> <!--/comment-header-->
                            <!-- === yorum ekle === -->

                        </div> <!--/comments-->


                        </div><!--blog-post-->
                    </div><!--col-sm-8-->
                </div> <!--/row-->
            </div><!--/container-->
        </section>

      

    </div>
    <!--/wrapper-->
