
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <form action="/Checkout/MakePayment" method="post">
        <button type="submit">Ödemeyi Tamamla</button>
    </form>

</body>
</html>
