@{

    Layout = "~/Views/Layout/Layout.cshtml";
    ViewData["Title"] = "About us | Lager - eCommerce HTML Template";
}


<div class="page-loader"></div>

<div class="wrapper">

    <div class="inc:_header.html"></div>

    <!-- ========================  Ana başlık   ======================== -->

    <section class="main-header" style="background-image:url(~/wwwroot/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/gallery-4.jpg)">
        <header>
            <div class="container text-center">
                <h1 class="h2 title">Hakkımızda</h1>
                <ol class="breadcrumb breadcrumb-inverted">
                    <li><a href="index.html"><span class="icon icon-home"></span></a></li>
                    <li><a class="active" href="about.html">Hakkında</a></li>
                </ol>
            </div>
        </header>
    </section>

    <!-- ================== Giriş bölümü varsayılan ================== -->

    <section>

        <!-- === Giriş metni === -->

        <div class="about">

            <div class="image">
                <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/map-lg.jpg" alt="Alternatif Metin" />
            </div>

            <div class="container">

                <!-- === Izgara === -->

                <div class="row">
                    <div class="col-md-6">
                        <h4>Kuruluş Mağazası</h4>
                        <p>Teknik becerilere sahip, problem çözme yaklaşımına sahip ve sorumluluk alabilen yetenekler arıyoruz.</p>
                    </div>
                    <div class="col-md-6">
                        <h4>Lager Mağazası Hakkında</h4>
                        <p>Ela, 1999 yılında Lager'ı, en iyi güzellik ve dürüst, uzman tavsiyesi için mahalle mağazanız olarak oluşturdu.</p>
                    </div>
                </div>

                <hr />

                <!-- === Metin === -->

                <div class="text">
                    <h4>Başarımız</h4>
                    <p>
                        Güzellik tekliflerimizi genişlettikçe zaman zaman ek Siteler ekleyebiliriz ve bu Kullanım Şartları, eklenen yeni Siteleri yönetecektir. Sitelerimize bilgisayar veya mobil telefon cihazı (örneğin, bir akıllı telefon uygulaması aracılığıyla) erişiyor olabilirsiniz ve bu Kullanım Şartları, Sitelerimizin kullanımını ve davranışınızı, erişim yolundan bağımsız olarak yönetir. Etkileşimli hizmetlerimizi ("Etkileşimli Hizmetler") kullanıyor olabilirsiniz, örneğin Ürün Derecelendirmeleri ve İncelemeleri ve Güzellik Çılgını Profil işlevi ve bu Kullanım Şartları, bu Etkileşimli Hizmetlerin kullanımını yönetir.
                    </p>
                    <h4>Neye İnanıyoruz</h4>
                    <p>
                        Sosyal sorumluluklarımızın ve özellikle kendi paydaşlarımıza karşı olan sorumluluklarımızın farkındayız. Bunlar çalışanlar, müşteriler, tedarikçiler ve diğer ilgili tarafları içerir. Ayrıca, çevre üzerindeki etkimizin minimal olmasını sağlamamız gerektiğinin de farkındayız.
                    </p>
                </div>

                <hr />

                <!-- === Sayılar === -->

                <div class="numbers">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="item">
                                <div class="number">45</div>
                                <div class="title">Yıl</div>
                                <div class="text">Usta bir şekilde hareket ediyoruz</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item">
                                <div class="number">12</div>
                                <div class="title">Ülke</div>
                                <div class="text">Hızlı yanıt veriyoruz</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item">
                                <div class="number">120</div>
                                <div class="title">Proje</div>
                                <div class="text">Pazar odaklıyız</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item">
                                <div class="number">9</div>
                                <div class="title">Fabrika</div>
                                <div class="text">Müşterilerimizle çalışıyoruz</div>
                            </div>
                        </div>
                    </div>
                </div> <!--/numbers-->

            </div>

        </div>

        <!-- === Ekibimiz === -->

        <div class="team">

            <!-- === Ekibimiz başlığı === -->

            <header>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h1 class="h2 title">Ekibimizi Tanıyın</h1>
                        <div class="text">
                            <p>Mimarlarımız ve tasarımcılarımız çevreyi sürekli ve dikkatlice izliyorlar, değişimleri kabul ediyor ve geliştiriyorlar, modayı ve mimari, sosyolojik değişimleri araştırıyorlar ve bunları benzersiz tasarımlara dönüştürüyorlar.</p>
                        </div>
                    </div>
                </div>
            </header>

            <div class="row row-clean">

                <!-- === ekip üyesi === -->

                <div class="col-sm-3">
                    <article>
                        <div class="details details-text">
                            <div class="inner">
                                <h3 class="title">Lea Nils</h3>
                                <h6 class="title">Yönetici</h6>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/user-5.jpg" alt="" />
                        </div>
                        <div class="details details-social">
                            <div class="inner">
                                <a href="#"><i class="fa fa-phone"></i></a>
                                <a href="#"><i class="fa fa-envelope"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === ekip üyesi === -->

                <div class="col-sm-3">
                    <article>
                        <div class="details details-text">
                            <div class="inner">
                                <h3 class="title">Nora Star</h3>
                                <h6 class="title">Mimar</h6>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/user-4.jpg" alt="" />
                        </div>
                        <div class="details details-social">
                            <div class="inner">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === ekip üyesi === -->

                <div class="col-sm-3">
                    <article>
                        <div class="details details-text">
                            <div class="inner">
                                <h3 class="title">Jenna Hale</h3>
                                <h6 class="title">Kalite Müdürü</h6>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/user-3.jpg" alt="" />
                        </div>
                        <div class="details details-social">
                            <div class="inner">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === ekip üyesi === -->

                <div class="col-sm-3">
                    <article>
                        <div class="details details-text">
                            <div class="inner">
                                <h3 class="title">Glen Jordan</h3>
                                <h6 class="title">Denetçi</h6>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/user-4.jpg" alt="" />
                        </div>
                        <div class="details details-social">
                            <div class="inner">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </article>
                </div>

            </div>

        </div> <!--/team-->
        </section>

    <!-- ================== Banner ================== -->

    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 text-center">
                    <h1 class="h2 title">Bizimle Çalışın</h1>
                    <div class="text">
                        <p>
                            Teknik becerilere sahip, problem çözme yaklaşımına sahip ve doğal olarak sorumluluk alabilen ve harekete geçebilen yetenekleri sürekli arıyoruz. Bilgi yoğun bir iş yapıyoruz ve yüksek bir profesyonellik standardı ve bağlı çalışanlar talep ediyoruz.
                        </p>
                        <p><a href="#" class="btn btn-clean">Hemen Başvur</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ========================  History ======================== -->

    <section class="history">
        <div class="container">

            <!-- === History header === -->

            <header>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h1 class="h2 title">Biraz Tarih</h1>
                        <div class="text">
                            <p>Mimarlarımız ve tasarımcılarımız sürekli ve dikkatli bir şekilde çevreyi izler, değişimleri kabul eder ve geliştirir, moda ve mimari ile sosyolojik değişimleri araştırır ve bunları benzersiz tasarımlara dönüştürür.</p>
                        </div>
                    </div>
                </div>
            </header>

            <!-- === row item === -->

            <div class="row row-block">
                <div class="col-md-5 history-image" style="background-image:url(assets/images/blog-3.jpg)">
                    <div class="history-title">
                        <h2 class="title">1930</h2>
                        <p>Başlangıç</p>
                    </div>
                </div>
                <div class="col-md-7 history-desc">
                    <div class="h5 title">Bu şekilde başladı</div>
                    <p>
                        Kutsal dükkanın söyledikleri, otururken seni, bozulmamış bir şekilde daha çekici bir şekilde gösterdi. Kapıdan giren genç kız, eğer ben girersem, kapının arkasındaki, kutsal kadife kuzgunun, geri dönen bir Lenore'dan daha çok yastıklandığını ve sadece Lenore'ü ve bir anı çağrışımını uyanmamış olarak kaldığını gönderdi.
                    </p>
                    <p>
                        Sonuna kadar bırak ve isimsiz Lenore'ün arkasından geleni bırak ya da geniş bir gizemi, bu hikayenin kendisi olarak düşünmeyi kabul et, eğer bu kapıdan yukarıya bakan düşünceyle şimdi, gökyüzündeki kapı üstünde uzun süre tereddüt etmeyi ve nasıl hissettiğimi bana anlatarak, Lord'un beni hayran bıraktığını anlamak.
                    </p>
                </div>
            </div>

            <!-- === row item === -->
            <div class="row row-block">
                <div class="col-md-5 history-image" style="background-image:url(assets/images/blog-4.jpg)">
                    <div class="history-title">
                        <h2 class="title">1935</h2>
                        <p>İlk 5 yıl</p>
                    </div>
                </div>
                <div class="col-md-7 history-desc">
                    <div class="h5 title">İlk görüşte aşk</div>
                    <p>
                        Kutsal dükkanın söyledikleri, otururken seni, bozulmamış bir şekilde daha çekici bir şekilde gösterdi. Kapıdan giren genç kız, eğer ben girersem, kapının arkasındaki, kutsal kadife kuzgunun, geri dönen bir Lenore'dan daha çok yastıklandığını ve sadece Lenore'ü ve bir anı çağrışımını uyanmamış olarak kaldığını gönderdi.
                    </p>
                </div>
            </div>

            <!-- === row item === -->
            <div class="row row-block">
                <div class="col-md-5 history-image" style="background-image:url(assets/images/blog-5.jpg)">
                    <div class="history-title">
                        <h2 class="title">1940</h2>
                        <p>Mobilya renk paleti</p>
                    </div>
                </div>
                <div class="col-md-7 history-desc">
                    <div class="h5 title">Orada Tasarımcılar Var</div>
                    <p>
                        Kutsal dükkanın söyledikleri, otururken seni, bozulmamış bir şekilde daha çekici bir şekilde gösterdi. Kapıdan giren genç kız, eğer ben girersem, kapının arkasındaki, kutsal kadife kuzgunun, geri dönen bir Lenore'dan daha çok yastıklandığını ve sadece Lenore'ü ve bir anı çağrışımını uyanmamış olarak kaldığını gönderdi.
                    </p>
                    <p>
                        Sonuna kadar bırak ve isimsiz Lenore'ün arkasından geleni bırak ya da geniş bir gizemi, bu hikayenin kendisi olarak düşünmeyi kabul et, eğer bu kapıdan yukarıya bakan düşünceyle şimdi, gökyüzündeki kapı üstünde uzun süre tereddüt etmeyi ve nasıl hissettiğimi bana anlatarak, Lord'un beni hayran bıraktığını anlamak.
                    </p>
                </div>
            </div>

            <!-- === row item === -->
            <div class="row row-block">
                <div class="col-md-5 history-image" style="background-image:url(assets/images/blog-6.jpg)">
                    <div class="history-title">
                        <h2 class="title">1950</h2>
                        <p>Yılın İşvereni</p>
                    </div>
                </div>
                <div class="col-md-7 history-desc">
                    <div class="h5 title">Çalışanlarımızı Seviyoruz</div>
                    <p>
                        Kutsal dükkanın söyledikleri, otururken seni, bozulmamış bir şekilde daha çekici bir şekilde gösterdi. Kapıdan giren genç kız, eğer ben girersem, kapının arkasındaki, kutsal kadife kuzgunun, geri dönen bir Lenore'dan daha çok yastıklandığını ve sadece Lenore'ü ve bir anı çağrışımını uyanmamış olarak kaldığını gönderdi.
                    </p>
                    <p>
                        Sonuna kadar bırak ve isimsiz Lenore'ün arkasından geleni bırak ya da geniş bir gizemi, bu hikayenin kendisi olarak düşünmeyi kabul et, eğer bu kapıdan yukarıya bakan düşünceyle şimdi, gökyüzündeki kapı üstünde uzun süre tereddüt etmeyi ve nasıl hissettiğimi bana anlatarak, Lord'un beni hayran bıraktığını anlamak.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- ======================== Quotes ======================== -->

    <section class="quotes quotes-slider" style="background-image:url(assets/images/gallery-2.jpg)">
        <div class="container">
            <div class="row">

                <div class="quote-carousel">

                    <!-- === quote item === -->

                    <div class="quote">
                        <div class="image">
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/user-3.jpg" alt="" />
                        </div>
                        <div class="text">
                            <h4>Jenna Hale</h4>
                            <p>İpsum dolore eros dolore <br />dolor dolores sit iriure</p>
                        </div>
                        <div class="more">
                            <div class="rating">
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                            </div>
                        </div>
                    </div>

                    <!-- === quote item === -->

                    <div class="quote">
                        <div class="image">
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/user-1.jpg" alt="" />
                        </div>
                        <div class="text">
                            <h4>Glen Jordan</h4>
                            <p>İpsum dolore eros dolore <br />dolor dolores sit iriure</p>
                        </div>
                        <div class="more">
                            <div class="rating">
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                            </div>
                        </div>
                    </div>

                    <!-- === quote item === -->

                    <div class="quote">
                        <div class="image">
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/user-4.jpg" alt="" />
                        </div>
                        <div class="text">
                            <h4>Tyler Spencer</h4>
                            <p>İpsum dolore eros dolore <br />dolor dolores sit iriure</p>
                        </div>
                        <div class="more">
                            <div class="rating">
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                            </div>
                        </div>
                    </div>

                    <!-- === quote item === -->

                    <div class="quote">
                        <div class="image">
                            <img src="~/dasdasdsadasas/www.elathemes.com/themes/lager/assets/images/user-5.jpg" alt="" />
                        </div>
                        <div class="text">
                            <h4>Paula Davis</h4>
                            <p>İpsum dolore eros dolore <br />dolor dolores sit iriure</p>
                        </div>
                        <div class="more">
                            <div class="rating">
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
        <div class="inc:_footer.html"></div>

    </div> <!--/wrapper-->
