@{

    Layout = "~/Views/Layout/Layout.cshtml";
    ViewData["Title"] = "Blog category | Lager - eCommerce HTML Template";
}
    





    <div class="page-loader"></div>

    <div class="wrapper">

        <div class="inc:_header.html"></div>

        <!-- ========================  Main header ======================== -->

        <section class="main-header text-center">
            <header>
                <div class="container">
                    <h1 class="h2 title">Blog</h1>
                    <ol class="breadcrumb breadcrumb-inverted">
                        <li><a href="index.html"><span class="icon icon-home"></span></a></li>
                        <li><a href="ideas.html">Blog</a></li>
                        <li><a class="active" href="blog-1.html">Interior ideas</a></li>
                    </ol>
                </div>
            </header>
        </section>

        <!-- ========================  Blog ======================== -->

        <section class="blog blog-block blog-category">

            <div class="container">

                <div class="pre-header">
                    <div>
                        <h2 class="h3 title">
                            Get some inspiration <br />
                            <small class="text-capitalize">First things first, find out what you like</small>
                        </h2>
                    </div>
                </div>

                <div class="row">

                    <!-- === blog-item === -->

                    <div class="col-sm-4">
                        <article>
                            <a href="article.html">
                                <div class="image">
                                    <img src="assets/images/project-1.jpg" alt="" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="date">28 Mart 2018</div>
                                    <div class="title">
                                        <h2 class="h3">Turn off the lights before bed with one word</h2>
                                    </div>
                                    <div class="description">
                                        <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Read more</span>
                                </div>
                            </a>
                        </article>
                    </div>


                    <!-- === blog-item === -->

                    <div class="col-sm-4">
                        <article>
                            <a href="article.html">
                                <div class="image">
                                    <img src="assets/images/project-2.jpg" alt="" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="date">25 Mart 2018</div>
                                    <div class="title">
                                        <h2 class="h3">Automatically lock the front door when you head to work</h2>
                                    </div>
                                    <div class="description">
                                        <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Read more</span>
                                </div>
                            </a>
                        </article>
                    </div>


                    <!-- === blog-item === -->

                    <div class="col-sm-4">
                        <article>
                            <a href="article.html">
                                <div class="image">
                                    <img src="assets/images/project-3.jpg" alt="" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="date">22 Mart 2018</div>
                                    <div class="title">
                                        <h2 class="h3">Get a notification when your kids walk in the door</h2>
                                    </div>
                                    <div class="description">
                                        <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Read more</span>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog-item === -->

                    <div class="col-sm-4">
                        <article>
                            <a href="article.html">
                                <div class="image">
                                    <img src="assets/images/project-4.jpg" alt="" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="date">18 Mart 2018</div>
                                    <div class="title">
                                        <h2 class="h3">Wake up to a warm cup of coffee</h2>
                                    </div>
                                    <div class="description">
                                        <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Read more</span>
                                </div>
                            </a>
                        </article>
                    </div>


                    <!-- === blog-item === -->

                    <div class="col-sm-4">
                        <article>
                            <a href="article.html">
                                <div class="image">
                                    <img src="assets/images/project-5.jpg" alt="" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="date">12 Mart 2018</div>
                                    <div class="title">
                                        <h2 class="h3">Wake up to your favorite Spotify song</h2>
                                    </div>
                                    <div class="description">
                                        <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Read more</span>
                                </div>
                            </a>
                        </article>
                    </div>


                    <!-- === blog-item === -->

                    <div class="col-sm-4">
                        <article>
                            <a href="article.html">
                                <div class="image">
                                    <img src="assets/images/project-6.jpg" alt="" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="date">10 Mart 2018</div>
                                    <div class="title">
                                        <h2 class="h3">Watch your napping kiddo on this smart wrist monitor</h2>
                                    </div>
                                    <div class="description">
                                        <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Read more</span>
                                </div>
                            </a>
                        </article>
                    </div>

                </div> <!--/row-->

            </div><!--/container-->
        </section>

        <!-- ========================  Banner ======================== -->

        <section class="banner" style="background-image:url(assets/images/gallery-1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h2 class="title">Our story</h2>
                        <p>
                            We believe in creativity as one of the major forces of progress. With this idea, we traveled throughout
                            Italy to find exceptional artisans and bring their unique handcrafted objects to connoisseurs
                            everywhere.
                        </p>
                        <p><a href="#" class="btn btn-clean">Read full story</a></p>
                    </div>
                </div>
            </div>
        </section>

        <div class="inc:_footer.html"></div>

    </div> <!--/wrapper-->
