<div class="info">
    <div class="container">
        <div class="row">

            <!-- === product-designer === -->

            <div class="col-md-3">
                <div class="brands">
                    <div class="box">
                        <div class="image">
                            <img src="assets/images/logo-2.png" alt="Alternate Text" />
                        </div>
                        <div class="name">
                            <p>Brand name</p>
                            <p><a href="#">Brand Url</a></p>
                            <p><a href="#">More about brand</a></p>
                        </div> <!--/name-->
                    </div> <!--/box-->
                </div> <!--/designer-->
            </div> <!--/col-md-4-->
            <!-- === nav-tabs === -->

            <div class="col-md-9">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#about" aria-controls="about" role="tab" data-toggle="tab">
                            <i class="icon icon-history"></i>
                            <span>About</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#specs" aria-controls="specs" role="tab" data-toggle="tab">
                            <i class="icon icon-sort-alpha-asc"></i>
                            <span>Specification</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#rating" aria-controls="rating" role="tab" data-toggle="tab">
                            <i class="icon icon-thumbs-up"></i>
                            <span>Rating</span>
                        </a>
                    </li>
                </ul>

                <!-- === tab-panes === -->

                <div class="tab-content">

                    <!-- ============ tab #1 ============ -->

                    <div role="tabpanel" class="tab-pane active" id="about">
                        <div class="content">
                            <h3>About this Item</h3>
                            <p>
                                While we aim to provide accurate product information, it is provided by manufacturers, suppliers and others, and has not been verified by us. See our disclaimer.
                                The beauty of the Q7C arc is a visual spectacle. Equipped with the features of the Q7 Flat, but with a bend for immersive viewing, it combines Q Color and an anti-glare screen for a dazzling display unlike any other.
                                Brandname 65" Class 4K(2160P) Curved Smart QLED TV QN65Q7CN (2018 Model)
                            </p>

                            <hr />

                            <div class="row">
                                <div class="col-md-4">
                                    <h3>Key Features</h3>
                                    <ul>
                                        <li>Diagonal Screen Size: 64.5"</li>
                                        <li>Backlight Type: QLED</li>
                                        <li>Resolution: 2160P</li>
                                        <li>Effective Refresh Rate: 240Hz</li>
                                        <li>Smart Functionality: yes</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h3>Connectivity</h3>
                                    <ul>
                                        <li>HDMI Inputs: yes, 4</li>
                                        <li>USB Ports: yes, 3</li>
                                        <li>Built-in Wi-Fi: yes</li>
                                        <li>Stereo speakers: yes</li>
                                        <li>Bluetooth: yes</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h3>Style Elite</h3>
                                    <ul>
                                        <li>One invisible connection</li>
                                        <li>One Connect Box</li>
                                        <li>No gap wall mount</li>
                                        <li>Ultra wide viewing angle</li>
                                        <li>Ambient mode</li>
                                        <li>Boundless 360 design</li>
                                    </ul>
                                </div>
                            </div> <!--/row-->

                        </div> <!--/content-->
                    </div> <!--/tab-pane-->
                    <!-- ============ tab #2 ============ -->

                    <div role="tabpanel" class="tab-pane" id="specs">
                        <div class="content">
                            <h3>Specification</h3>
                            <table class="table table-striped specification">
                                <tbody>
                                    <tr>
                                        <th>Model</th>
                                        <td>
                                            <div>QN65Q7CNAFXZA</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Screen Size</th>
                                        <td>
                                            <div>65\"</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Brand</th>
                                        <td>
                                            <div>Brandname</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Assembled Product Weight</th>
                                        <td>
                                            <div>87.1 oz</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Condition</th>
                                        <td>
                                            <div>New</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>ID</th>
                                        <td>
                                            <div>qn65q7cnafxza</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Dimensions (L x W x H)</th>
                                        <td>
                                            <div>8.30 x 63.70 x 37.80 Inches</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!--/content-->
                    </div> <!--/tab-pane-->
                    <!-- ============ tab #3 ============ -->

                    <div role="tabpanel" class="tab-pane" id="rating">

                        <!-- ============ ratings ============ -->

                        <div class="content">

                            <h3>Rating</h3>

                            <div class="row">

                                <!-- === comments === -->

                                <div class="col-md-12">
                                    <div class="comments">

                                        <!-- === rating === -->

                                        <div class="rating clearfix">
                                            <div class="rate-box">
                                                <strong>Quality</strong>
                                                <div class="rating">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span>3</span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span>5</span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span>0</span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span>2</span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span>1</span>
                                                </div>
                                            </div>

                                            <!-- rate -->
                                            <div class="rate-box">
                                                <strong>Design</strong>
                                                <div class="rating">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <span>3</span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <span>5</span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <span>0</span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span>2</span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span>1</span>
                                                </div>
                                            </div>

                                            <!-- rate -->
                                            <div class="rate-box">
                                                <strong>General</strong>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span>3</span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span>5</span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span>0</span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span>2</span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span>1</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="comment-wrapper">

                                            <!-- === comment === -->

                                            <div class="comment-block">
                                                <div class="comment-user">
                                                    <div>
                                                        <img src="assets/images/user-2.jpg" alt="Alternate Text" width="70" />
                                                    </div>
                                                    <div>
                                                        <h5>
                                                            <span>John Doe</span>
                                                            <span class="pull-right">
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            <small>03.05.2017</small>
                                                        </h5>
                                                    </div>
                                                </div>

                                                <!-- comment description -->

                                                <div class="comment-desc">
                                                    <p>
                                                        In vestibulum tellus ut nunc accumsan eleifend. Donec mattis cursus ligula, id
                                                        iaculis dui feugiat nec. Etiam ut ante sed neque lacinia volutpat. Maecenas
                                                        ultricies tempus nibh, sit amet facilisis mauris vulputate in. Phasellus
                                                        tempor justo et mollis facilisis. Donec placerat at nulla sed suscipit. Praesent
                                                        accumsan, sem sit amet euismod ullamcorper, justo sapien cursus nisl, nec
                                                        gravida
                                                    </p>
                                                </div>

                                                <!-- comment reply -->

                                                <div class="comment-block">
                                                    <div class="comment-user">
                                                        <div>
                                                            <img src="assets/images/user-2.jpg" alt="Alternate Text" width="70" />
                                                        </div>
                                                        <div>
                                                            <h5>
                                                                Administrator
                                                                <small>08.05.2017</small>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="comment-desc">
                                                        <p>
                                                            Curabitur sit amet elit quis tellus tincidunt efficitur. Cras lobortis id
                                                            elit eu vehicula. Sed porttitor nulla vitae nisl varius luctus. Quisque
                                                            a enim nisl. Maecenas facilisis, felis sed blandit scelerisque, sapien
                                                            nisl egestas diam, nec blandit diam ipsum eget dolor. Maecenas ultricies
                                                            tempus nibh, sit amet facilisis mauris vulputate in.
                                                        </p>
                                                    </div>
                                                </div>
                                                <!--/reply-->
                                            </div>

                                            <!-- === comment === -->

                                            <div class="comment-block">
                                                <div class="comment-user">
                                                    <div>
                                                        <img src="assets/images/user-2.jpg" alt="Alternate Text" width="70" />
                                                    </div>
                                                    <div>
                                                        <h5>
                                                            <span>John Doe</span>
                                                            <span class="pull-right">
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                            <small>03.05.2017</small>
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="comment-desc">
                                                    <p>
                                                        Cras lobortis id elit eu vehicula. Sed porttitor nulla vitae nisl varius luctus.
                                                        Quisque a enim nisl. Maecenas facilisis, felis sed blandit scelerisque, sapien
                                                        nisl egestas diam, nec blandit diam ipsum eget dolor. In vestibulum tellus
                                                        ut nunc accumsan eleifend. Donec mattis cursus ligula, id iaculis dui feugiat
                                                        nec. Etiam ut ante sed neque lacinia volutpat. Maecenas ultricies tempus
                                                        nibh, sit amet facilisis mauris vulputate in. Phasellus tempor justo et mollis
                                                        facilisis. Donec placerat at nulla sed suscipit. Praesent accumsan, sem sit
                                                        amet euismod ullamcorper, justo sapien cursus nisl, nec gravida
                                                    </p>
                                                </div>
                                            </div>

                                        </div><!--/comment-wrapper-->

                                        <div class="comment-header">
                                            <a href="#" class="btn btn-clean-dark">12 comments</a>
                                        </div> <!--/comment-header-->
                                        <!-- === add comment === -->

                                        <div class="comment-add">

                                            <div class="comment-reply-message">
                                                <div class="h3 title">Leave a Reply </div>
                                                <p>Your email address will not be published.</p>
                                            </div>

                                            <form action="#" method="post">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="name" value="" placeholder="Your Name" />
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="name" value="" placeholder="Your Email" />
                                                </div>
                                                <div class="form-group">
                                                    <textarea rows="10" class="form-control" placeholder="Your comment"></textarea>
                                                </div>
                                                <div class="clearfix text-center">
                                                    <a href="#" class="btn btn-main">Add comment</a>
                                                </div>
                                            </form>

                                        </div><!--/comment-add-->
                                    </div> <!--/comments-->
                                </div>


                            </div> <!--/row-->
                        </div> <!--/content-->
                    </div> <!--/tab-pane-->
                </div> <!--/tab-content-->
            </div>
        </div> <!--/row-->
    </div> <!--/container-->
</div> <!--/info-->