   <!-- ========================  Best seller ======================== -->

<section class="products">

    <!-- === header title === -->

    <header>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h2 class="title">Best seller</h2>
                <div class="text">
                    <p>Check out our latest collections</p>
                </div>
            </div>
        </div>
    </header>

    <div class="row row-clean">

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="assets/images/product-7.png" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a href="product.html">Coffee machine</a>
                        </h2>
                        <sub>$ 159,-</sub>
                        <sup>$ 139,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <span class="label label-danger">-50%</span>
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="assets/images/product-8.png" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a href="product.html">Iron set</a>
                        </h2>
                        <sub>$ 1999,-</sub>
                        <sup>$ 1499,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="assets/images/product-9.png" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a href="product.html">Projector 4k</a>
                        </h2>
                        <sub>$ 1999,-</sub>
                        <sup>$ 1499,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <span class="label label-info">-20%</span>
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="assets/images/product-10.png" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a href="product.html">Headphones Wireless</a>
                        </h2>
                        <sub>$ 1999,-</sub>
                        <sup>$ 1499,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="assets/images/product-11.png" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a href="product.html">Vacuum cleaner</a>
                        </h2>
                        <sub>$ 1999,-</sub>
                        <sup>$ 1499,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- === product-item === -->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <article>
                <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                    <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
                </div>
                <div class="btn btn-add">
                    <i class="icon icon-cart"></i>
                </div>
                <div class="figure-grid">
                    <div class="image">
                        <a href="#productid1" class="mfp-open">
                            <img src="assets/images/product-12.png" alt="" width="360" />
                        </a>
                    </div>
                    <div class="text">
                        <h2 class="title h5">
                            <a href="product.html">E-shaver 500</a>
                        </h2>
                        <sub>$ 1999,-</sub>
                        <sup>$ 1499,-</sup>
                        <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                    </div>
                </div>
            </article>
        </div>

    </div> <!--/row-->
    <!-- === button more === -->

    <div class="wrapper-more">
        <a href="products-grid.html" class="btn btn-lg">View all</a>
    </div>

    <!-- ========================  Product info popup - quick view ======================== -->

    <div class="popup-main mfp-hide" id="productid1">

        <!-- === product popup === -->

        <div class="product">

            <!-- === popup-title === -->

            <div class="popup-title">
                <div class="h1 title">
                    Headphones Wireless
                    <small>product category</small>
                </div>
            </div>

            <!-- === product gallery === -->

            <div class="owl-product-gallery">
                <img src="assets/images/product-10.png" alt="" width="640" />
                <img src="assets/images/product-10a.png" alt="" width="640" />
            </div>

            <!-- === product-popup-info === -->

            <div class="popup-content">
                <div class="product-info-wrapper">
                    <div class="row">

                        <!-- === left-column === -->

                        <div class="col-sm-6">
                            <div class="info-box">
                                <strong>Maifacturer</strong>
                                <span>Brand name</span>
                            </div>
                            <div class="info-box">
                                <strong>Materials</strong>
                                <span>Wood, Leather, Acrylic</span>
                            </div>
                            <div class="info-box">
                                <strong>Availability</strong>
                                <span><i class="fa fa-check-square-o"></i> in stock</span>
                            </div>
                        </div>

                        <!-- === right-column === -->

                        <div class="col-sm-6">
                            <div class="info-box">
                                <strong>Available Colors</strong>
                                <div class="product-colors clearfix">
                                    <span class="color-btn color-btn-red"></span>
                                    <span class="color-btn color-btn-blue checked"></span>
                                    <span class="color-btn color-btn-green"></span>
                                    <span class="color-btn color-btn-gray"></span>
                                    <span class="color-btn color-btn-biege"></span>
                                </div>
                            </div>
                            <div class="info-box">
                                <strong>Choose size</strong>
                                <div class="product-colors clearfix">
                                    <span class="color-btn color-btn-biege">S</span>
                                    <span class="color-btn color-btn-biege checked">M</span>
                                    <span class="color-btn color-btn-biege">XL</span>
                                    <span class="color-btn color-btn-biege">XXL</span>
                                </div>
                            </div>
                        </div>

                    </div> <!--/row-->
                </div> <!--/product-info-wrapper-->
            </div> <!--/popup-content-->
            <!-- === product-popup-footer === -->

            <div class="popup-table">
                <div class="popup-cell">
                    <div class="price">
                        <span class="h3">$ 1999,00 <small>$ 2999,00</small></span>
                    </div>
                </div>
                <div class="popup-cell">
                    <div class="popup-buttons">
                        <a href="product.html"><span class="icon icon-eye"></span> <span class="hidden-xs">View more</span></a>
                        <a href="javascript:void(0);"><span class="icon icon-cart"></span> <span class="hidden-xs">Buy</span></a>
                    </div>
                </div>
            </div>

        </div> <!--/product-->
    </div> <!--popup-main--> <!--/container-->

</section>