<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.elathemes.com/themes/lager/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Aug 2024 20:32:03 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Mobile Web-app fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Meta tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <!--Title-->
    <title>@ViewData["Title"]</title>

    <!--CSS bundle -->
    <link rel="stylesheet" media="all" href="~/dasdasdsadasas/www.elathemes.com/themes/lager/css/bundle.min.css" />

    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link href="~/css/deneme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/deneme.css">
    <!-- jQuery'yi ekleyin -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Toastr CSS ve JS kütüphanesi -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


</head>
<body>
   





@RenderBody()
<!--JS bundle -->
<script src="~/dasdasdsadasas/www.elathemes.com/themes/lager/js/bundle_updated.min.js"></script>

 

    <!-- SweetAlert JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

</body>


<!-- Mirrored from www.elathemes.com/themes/lager/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Aug 2024 20:32:03 GMT -->
</html>